/*
general
-------------------------------------------------------------------------  */
html,body{background:url(img/bg.jpg) fixed repeat;color:#333;font:89% Arial,Helvetica,sans-serif;height:100%;margin:0;padding:0;}
a{color:#06F;text-decoration:none;}
div#content a:visited{color:#5500F1;}
a:hover,a:focus,a:active,div#content a:hover,div#content a:focus,div#content a:active{color:#F12000;text-decoration:underline;}
form .form-text,form .form-submit,form .form-textarea{font-family:Arial,Helvetica,sans-serif;}
form .form-textarea{font-size:100%;}
/*
layout
min-height IE hack: http://www.dustindiaz.com/min-height-fast-hack
-------------------------------------------------------------------------  */
div#wrapper{background:#fff;border-left:2px solid #F17F00;border-right:2px solid #F17F00;margin:0 0 0 72px;width:36em;min-height:100%;height:auto !important;height:100%;}
div#header{background:#fff;border-left:2px solid #F17F00;border-right:2px solid #F17F00;left:72px;padding-top:24px;position:fixed;top:0;width:36em;z-index:7;}
div#logo{background-color:#F17F00;}
div#logo h1{font-size:0.1em;height:27px;left:48px;margin:0;padding:0;position:relative;width:181px;}
div#logo h1 span{background:url(img/ts.gif) no-repeat;height:100%;position:absolute;width:100%;}
div#menu-bar{background:#FCE2C5;margin:4px 0 0;}
form#search_form.search-bar{display:inline;float:right;margin:0;padding:0.3em 0 0;width:10em;}
form#search_form.search-bar .search_box{border:1px solid #f17f00;padding-left:0.2em;width:8em;}
form#search_form.search-bar #submit{vertical-align:middle;}
div#content{margin-top:72px;padding:1em 1em 48px;}
div.node{border-bottom:1px solid #999;padding-bottom:1em;}
div#footer{background:#FCE2C5;border-left:2px solid #F17F00;border-right:2px solid #F17F00;bottom:0;color:#F17F00;left:72px;position:fixed;width:36em;z-index:3;}
div#footer p{margin:0;padding:0.5em;}
body.admin div#wrapper,body.admin div#header,body.admin div#footer{width:48em;}
/*
content
-------------------------------------------------------------------------  */
div.content img.right{float:right;margin:0 0 0.3em 0.3em;}
div.content p.top{margin-top:0;}
blockquote{background:url(img/lquote.gif) no-repeat top left;font-style:italic;margin:0;padding:4px 0 0 36px;}
div#content h2{font-size:150%;margin-bottom:0.2em;}
div.created{background:url(img/calendar_view_day.gif) no-repeat left;margin-bottom:2px;padding-left:20px;}
div.terms{background:url(img/tag_blue.gif) no-repeat left;padding-left:20px;}
div.content p{line-height:1.5em;}
form#contact_mail_page .form-text{width:30em;}
div.comment{background:#eee;border-bottom:1px solid #999;padding:0.5em;position:relative;}
div.comment.odd{background:#fefefe;}
div.comment h3{background:url(img/comment.gif) no-repeat left;font-size:120%;margin:0;padding-left:20px;}
div.comment div.author{font-size:90%;}
div.comment div.comment-content{position:relative;z-index:2;}
div.comment div.comment-number{color:#ccc;font-size:500%;position:absolute;right:0.2em;top:0;z-index:1;}
div.comment.admin-comment{background:#ffffcc;}
form#comment_form ul{margin-left:1.5em;padding-left:0;}
form#comment_form div a {display:none;}
form#comment_form .form-submit{margin-top:1em;}
#pager{margin-top:1em;}
/*
link lists
-------------------------------------------------------------------------  */
ul#nav{float:left;margin:0;padding:0.5em 1em;width:24em;}
ul#nav li{display:inline;list-style-type:none;padding-right:3em;}
ul#node-nav{margin:0;padding:0;}
ul#node-nav li{display:inline;list-style-type:none;padding-right:2em;}
/*
clearing
more details: http://www.positioniseverything.net/easyclearing.html
-------------------------------------------------------------------------  */
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
Position Fixed
Fixes the nasty IE position:fixed
-------------------------------------------------------------------------  */
* html{overflow-y: hidden;}
* html body{height: 100%;overflow: auto;}
* div#header{_position:absolute}
* div#footer{_position:absolute}