#admin-nav,#admin-nav ul,#admin-nav li,#admin-nav a {
list-style:none;
display:block;
font-size:13px;
margin:0;
padding:0;
z-index:48;
}

#admin-nav {
background:#eee;
border-bottom:1px solid #a3a3a3;
position:fixed;
top:0;
left:0;
width:100%;
margin:0 0 1em;
}

#admin-nav li {
float:left;
border-right:1px solid #a3a3a3;
}

#admin-nav a {
width:85px;
background:#ccc;
padding:2px 5px;
}

#admin-nav a:hover {
background:orange;
}

#admin-nav li.leaf {
background:#eee url(bullet_go.gif) no-repeat 2px;
padding-left:20px;
}

#admin-nav li.expanded {
background:#eee url(folder.gif) no-repeat 2px;
padding-left:20px;
}

#admin-nav li ul {
position:absolute;
width:115px;
_margin-left:-20px;
border:1px solid #a3a3a3;
left:9999px;
z-index:24;
}

#admin-nav li ul ul {
margin:-15px 0 0 65px;
}

#admin-nav li:hover ul ul,#admin-nav li:hover ul ul ul,#admin-nav li.sfhover ul ul,#admin-nav li.sfhover ul ul ul {
left:9999px;
}

#admin-nav li:hover ul,#admin-nav li li:hover ul,#admin-nav li li li:hover ul,#admin-nav li.sfhover ul,#admin-nav li li.sfhover ul,#admin-nav li li li.sfhover ul {
left:auto;
}

div.messages {
background:#ACCD93;
border:1px solid #458F18;
color:#278003;
padding:0.2em 0.5em;
margin:0.5em 0;
font-weight:bold;
}